*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:hsl(229, 24%, 87%);
}
.container{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    height: 80%;
    width: 80%;
    padding: 1rem;
    border-radius: 12px;
}
.slider{
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    flex-basis: 30%;
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    align-items: center;
    padding: 1%;
    padding-top: 5%;
}
.slider-steps{
    color: white;
    display: flex;
    width: 100%;
    margin: 1rem;
    justify-content: space-evenly;
}
.slider-buttons{
    align-self: center;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    border:1px solid white;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
}
.slider-steps-main{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.slider-steps-main>span{
    color:  hsl(229, 24%, 87%);
    font-size: 15px;
    font-weight: 400;
}
.slider-steps-main > h3{
    font-size: 18px;
}





.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 60%;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}
.main-container > h1{
    color:hsl(213, 96%, 18%);
    margin-bottom: 2rem;
}
.main-container{
    width: 80%;
}
.main-container > span{
    color:  hsl(231, 11%, 63%);
    text-wrap: wrap;
}
.main-info{
    display: flex;
}
.label-Container{
    display: flex;
    justify-content: space-between;
}
.label-Container> span{
    height: min-content;
    color: red;
    font-size: 15px;
    text-align: end;
}
.main-info{
    margin-top: 1rem;
}
.main-info>label {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-info>label>input{
    height: 50px;
    border: 2px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    color: hsl(213, 96%, 18%);
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0.5rem;
}
.main-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: hsl(213, 96%, 18%);
}
.main-next-button{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100%;
}
.main-next-button > button{
    background-color: hsl(213, 96%, 18%);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    height: max-content;
}
#prev{
    background-color: white;
    width: 120px;
    color:hsl(231, 11%, 63%);
    font-weight: 500;
    font-size: 15px;
}




/* DOM */

.active{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}

.main2{
    display: flex;
    gap:2%;
    flex-direction: row;
}
.main2-card{
    padding: 0.8rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(231, 11%, 63%);
    width: 33%;
    border-radius: 12px;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
}

.main2 :hover{
    border:1px solid hsl(213, 96%, 18%);
    background-color: hsl(206, 94%, 87%);
}
.main2-card > div{
    display: flex;
    flex-direction: column;
}
.main2-card > img{
    pointer-events: none; 
    height: 35px;
}
.main2-card > h3{
    pointer-events: none; 
}
.main2-card > div{
    pointer-events: none;
}
.card-price{
    color: hsl(231, 11%, 63%);
    pointer-events: none; 
}
.planMonthorYear{
    align-self: center;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:hsl(229, 24%, 87%);
    border-radius: 15px;
    width: 90%;
    padding: 0.5rem;
    color:hsl(231, 11%, 63%) ;
}
.monthFree{
    pointer-events: none; 
    font-size: 14px;
    font-weight: 400;
    color: hsl(213, 96%, 18%);
}
.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    padding: 1rem;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .sliderButton {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;
  }
  .sliderButton:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    top:15%;
    left: 8%;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .sliderButton:before {
    transform: translateX(2rem);
  }

















.main3{
    display: flex;
    gap:1rem; 
    flex-direction: column;
    width: 35vw;
}

.main3-card{
    height: 100%;
    display: flex;
    border: 1px solid hsl(231, 11%, 63%);
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}

.main3 :hover{
    border:1px solid hsl(213, 96%, 18%);
    background-color: hsl(206, 94%, 87%);
}

.main3-card > span{
    pointer-events: none; 
}
.main3-card > h3{
    pointer-events: none; 
}
.main3-card > div{
    pointer-events: none;
    display: flex; 
    flex-direction: column; 
}
.AddOnsMessage{
    color:hsl(231, 11%, 63%);
}
.AddOnsPrice{
    color:hsl(243, 100%, 62%) ;
}

.Pickonsactive{
    border:  2px solid hsl(243, 100%, 62%);
    background-color: hsl(206, 94%, 87%);
}




.main4-card{
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px; 
    gap: 1rem;
    padding: 1rem;
    background-color: hsl(217, 100%, 97%)
}
.change-button{
    border: none;
    text-decoration: underline;
    color:hsl(213, 96%, 18%) ;
    background-color: transparent;
}
.change-button:hover{
    color:hsl(243, 100%, 62%) ;
}
.finishingUp-Plan{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid hsl(231, 11%, 63%);
}
.summary-addons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5rem;
    color: hsl(231, 11%, 63%);
}
.finishingUpTotal{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem ;
    padding-top: 1rem ;
    color: hsl(231, 11%, 63%);
}
.summary-addons-price{
    color: hsl(213, 96%, 18%);
}
.totalCost{
    color: hsl(243, 100%, 62%);
    font-weight: 700;
    font-size: 20px;
}

.thankuPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    height: 100%;
    padding: 2rem;
}
.thankuPage > img{
    width: 15%;
}
.thankuPage > span{
    width: 75%;
    height:5rem;
    color: hsl(231, 11%, 63%);
    text-align: center;
    font-size: 15px;
}

.hidden{
    display: none;
}
.visible{
    visibility: hidden;
}






@media (max-width:800px){
    .main3-card{
        width: 120%;
    }
}

@media (max-width:700px) {
    body{
        padding: 0;
        display: block;
        width: 100%;
        overflow: hidden;
    }
    .container{
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color:  hsl(229, 24%, 87%);
    }
    .slider{
        flex-direction: row;
        background-image: url('assets/images/bg-sidebar-mobile.svg');
        border-radius: 0;
        align-items: flex-start;
        padding: 2rem;
        padding-left: 6rem;
        padding-right: 6rem;
        justify-content: center;
    }
    .slider-steps-main{
        display: none;
    }
    .main-container{
        position: absolute;
        top:17%;
        background-color: hsl(0, 0%, 100%);
        padding: 1rem;
        border-radius: 12px;
        width:90%;
        height: 68%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .main-container > h1{
        font-size: 30px;
    }
    .main-buttons{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .main-next-button{ 
        position: absolute;
        bottom: -22%;
        left: -5%;
        padding: 3%;
        height: max-content; 
        width: 110%;
        align-items: flex-end;
        background-color: hsl(0, 0%, 100%); 
    } 
    .main2{
        flex-direction: column;
        gap:0.5rem;
    }
    .main2-card > div{
        display: flex;
        flex-direction: column;
    } 
    .main2-card > div >h3{
        font-size: 15px; 
    }
    .main2-card {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap:0.5rem;
        height: 4.5rem;
        width: 100%;
        gap:2rem;
        padding-bottom: 0.5rem;
    }
    .main3{
        gap:0.3rem;
        width: 90%;
    }
    .main3-card > div > h3{
        font-size: 15px;
    }
    .main3-card > span{
        font-size: 13px;
    }
    .main3-card{
        width: 100%;
        padding-bottom: 12%;
        height: 75px;
    }
    .thankuPage > div >  h1{
        font-size: 25px;
    }
    .AddOnsMessage{
        text-wrap: wrap;
        font-size: 13px; 
    }
}  