*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(229, 24%, 87%);
}
.container{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    height: 80%;
    width: 80%;
    padding: 1rem;
    border-radius: 12px;
}
.slider{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    flex-basis: 25%;
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    align-items: center;
    padding: 2%;
    padding-top: 5%;
}
.slider-steps{
    color: white;
    display: flex;
    width: 100%;
    margin: 1rem;
    justify-content: space-evenly;
}
.slider-buttons{
    align-self: center;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    border:1px solid white;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
}
.slider-steps-main{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.slider-steps-main>span{
    color:  hsl(229, 24%, 87%);
    font-size: 15px;
    font-weight: 400;
}
.slider-steps-main > h3{
    font-size: 18px;
    text-wrap: nowrap;

}





.main{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    flex-basis: 65%;
    border-radius: 12px;
    padding: 5%;
}
.main-container > h1{
    color:hsl(213, 96%, 18%);
    margin-bottom: 2rem;
}
.main-container > span{
    color:  hsl(231, 11%, 63%);
    margin-bottom: 5rem;
    /* border: 2px solid red; */
}
.main-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* border: 2px solid red; */
    color: hsl(213, 96%, 18%);
}
.main-next-button{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
    justify-self: flex-end;
    height: 150px;
    align-items: flex-end;
}
.main-info{
    margin-top: 2rem;
}
.main-info>label {
    display: flex;
    flex-direction: column;
}
.main-info>label>input{
    height: 50px;
    border: 2px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    color: hsl(213, 96%, 18%);
    font-size: 20px;
    font-weight: 400;
}
.main-next-button > button{
    background-color: hsl(213, 96%, 18%);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    height: max-content;
    position: fixed;
}





/* DOM */

.active{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}

.main2{
    display: flex;
    gap:2rem;
}
.main2-card{
    padding: 1rem;
    height: 231px;
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(231, 11%, 63%);
    width: 163px;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 12px;
}
.main2 :hover{
    border:1px solid hsl(213, 96%, 18%);
    background-color: hsl(206, 94%, 87%);
}
.main2-card > img{
    pointer-events: none; 
    height: 35px;
}
.main2-card > span{
    pointer-events: none; 
}
.main2-card > h3{
    pointer-events: none; 
}


.main3{
    display: flex;
    gap:2rem; 
    flex-direction: column;
}

.main3-card{
    /* padding: 1rem; */
    height: 100px;
    display: flex;
    border: 1px solid hsl(231, 11%, 63%);
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}

.main3 :hover{
    border:1px solid hsl(213, 96%, 18%);
    background-color: hsl(206, 94%, 87%);
}

.main3-card > span{
    pointer-events: none; 
}
.main3-card > h3{
    pointer-events: none; 
}
.main3-card > div{
    pointer-events: none;
    display: flex; 
    flex-direction: column; 
}


.main4-card{
    border: 1px solid red;
    flex-direction: column;
    display: flex;
    border: 1px solid hsl(231, 11%, 63%);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px; 
    gap: 1rem;
    padding: 1rem;
}
.change-button{
    border: none;
    text-decoration: underline;
    color:hsl(213, 96%, 18%) ;
    background-color: transparent;
}
.finishingUp-Plan{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border-bottom: 1px solid hsl(231, 11%, 63%); */
}
.summary-addons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5rem;
}
.finishingUpTotal{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem ;
    padding-top: 1rem ;
}
.totalCost{
    color: hsl(243, 100%, 62%);
    font-weight: 700;
    font-size: 20px;
}
.thankuPage{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
.thankuPage > img{
    height: 30px;
    width: 30px;
}










@media (max-width:800px){
    .slider{
        flex-basis: 40%;
    }
    .main{
        flex-basis: 60%;
    }
}